
//main use
$black : #000000;
$white : #ffffff;
$minor : #505050;
$boxShadow : rgba(0, 0, 0, 0.2);

//theme color
$navyBlue : #5585BD;
$candyPink : #FF7777;
$mintGreen : #7dcdcd;
$mintGreen-dark : #42bbbb;
$mintGreen-light : #bdecec;
